<% @lots.each do |lot| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= lot.name %></h1>
    <i><%= lot.address %></i><br /><br />
    <p><%= lot.description %></p><br />
  </div>

  <hr />
<% end %>